---
interface Props {
    name: String;
    price: number;
}

const { name, price }: Props = Astro.props;
---

<article>
    <header>
        <h2>
            <a href={`./products/${name}`} transition:name={`${name}`}>{name}</a
            >
        </h2>
        <p>{price}</p>
    </header>
    <div class="img" transition:name={`img-${name}`}></div>
</article>

<style>
    article {
        border-block-start: 1px solid black;
        padding-inline-start: 1rem;
    }
    /* article:last-child {
        border-block-end: 1px solid black;
    } */
    article {
        display: flex;
        justify-content: space-between;
        padding-block: 0.5rem;
        padding-inline: 1rem;
        background-color: thistle;
    }
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    header p {
        align-self: flex-end;
        font-style: italic;
    }
    a {
        text-decoration: none;
        color: black;
    }
</style>
